body {
	width: 100%;
	height: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
    position: relative;
}

.container {
	height: 100%;
	width: 100%;
	/*background-image: url(waves.jpg);
	background-size: cover;*/
    margin: 0 auto;
	padding: 0px;
}

.headshot, img {
    display: block;
	margin: 0 auto;
	padding: 20px;
}

.music, iframe {
	display: flex;
	padding: 20px;
	align-items: center;
	justify-content: center;
/*	margin-right: 100px;*/
}

p {
	font-family: Arial;
	color: black;
}
 
.bio, p {
	float: right;
	width: 800px;
	line-height: 20px;
}

.video-section {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0 auto;
	padding-top: 0px;
    padding-bottom: 0px;
}
.video-section, .video-text. h2 {
	text-align: center;
}

.title {
	padding: 20px;
}

.container, h1 {
	font-family: Arial, Sans-Serif;
	color: #000;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	padding: 0px;
	margin-left: 0 px;
}

.events, h2 {
	font-family: Arial, Sans-Serif;
	color: #FFF;
	font-size: 48px;
	text-align: center;
	text-transform: uppercase;
	padding: 0px;
}

.info, h3 {
	font-family: Arial, Sans-Serif;
	color: #FFF;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	padding: 0px;
}

.link, h4 {
	font-family: Arial, Sans-Serif;
	font-size: 18px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	padding-top: 0px;
}
/*h2 {
	border: solid #fff 2px;
}*/
ul {
	margin: 20px;
	padding:0;
	font-family: Arial, Sans-Serif;
	color: #000;
	list-style: none;
	text-align: right;
}
li {
	display: inline-block;
	width: 80px;
}
a:hover, a:active {
    background-color: transparent;
 /*   border: solid #fff 3px;*/
}
@media only screen (min-width: 320px) and (max-width: 768px){
	body { font-size: 12px; 
	}
	.container { width: 20em; 
	}
}

